{% extends "base.html" %}
{% block content %}
{% load static %}
<main> 
        <h1 class="tituloMain">SPARTANS<br/>É NOIS QUE VOA.</h1>
        <img src="{% static 'img/search.png' %}" alt="anuncio da Spartans" id="imgTopo">
        <div id="cursos">            
            <h1 class="titulosContainer">CURSOS</h1>
            <div class="containers cursos" >
                    {% for item in curso %}
                    <div class="card cardCurso">                    
                    <a href="{%  url 'detalhe-curso' %}">{{ item }}</a>
                    <img src="{% static 'img/si.png' %}" alt="logo do curso de sistema da informação" class="imgCursos">                   
                    </div>
                    {% endfor %}                
            </div>
            <div class="containers cursos" >
                {% for item in curso2 %}            
                <div class="card cardCurso">
                <a href="{%  url 'detalhe-curso' %}">{{ item }}</a>
                <img src="{% static 'img/si.png' %}" alt="logo do curso de sistema da informação" class="imgCursos">
                </div>
                {% endfor %}
               
                
                
            </div>
        </div>
        
    </main>
    
{% endblock %}

