<!DOCTYPE html>
<html>
    <head>
    <title>Minha primeira view Django</title>
    </head>
        <body>
            <form method="POST">
                <label><strong>E-mail:</strong> </br> 
                <input type ="email" name="email" placeholder="exemplo@gmail.com" /> <br/>
                </label>
                <label><strong>Senha:</strong></br> 
                <input type ="password" name="senha"/><br/>
                </label> 

                <input type="submit" />
            </form>
        </body>
</html>
