{% extends "baseCoordenador.html" %}
{% block content %}
        <main>
            <div>
                <div>
                    <h1 class="tituloCrud">Bem-vindo {{request.sessao.usuario.nome}}</h1>
                </div>
                
                <div>
                    <a class="buttonInsert" href="{% url "inserircurso" %}">+</a>
                </div>

                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    {{request.sessao.usuario.nome}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                  
  
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
{% endblock %}
