{% extends "baseAluno.html" %}
{% block content %}
        <main>
            <div>
                <div>
                    <h1 class="tituloCrud">Bem-vindo {{request.sessao.usuario.nome}}</h1>
                </div>
                
                <div>
                    <a class="buttonInsert" href="{% url "inserircurso" %}">+</a>
                </div>

                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    {{request.sessao.usuario.ra}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                  
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <a class="myButton" href="{% url 'listarentregasalunos' %}">ENTREGAS</a>
                                    </td>
                                    <td>
                                        <a class="myButton" href="{% url 'listarentregasalunos' %}">ENTREGAS</a>
                                    </td>
                                    <td>
                                        <a class="myButton" href="{% url 'listarentregasalunos' %}">ENTREGAS</a>
                                    </td>
                                    <td>
                                     </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
{% endblock %}
