{% extends "base.html" %}
{% block content %}
        <main>
            <div>
                <div>
                    <h1 class="tituloCrud">LISTA DISCIPLINAS</h1>
                </div>
                <div>
                        <a href="{% url "inserirdisciplina" %}">INSERIR</a>
                </div>
                <div>
                  <table>
                    <tr>
                          <td>DISCIPLINAS</td>
                      </tr>
                  </table>
                  <ul>
                      {% for disciplina in disciplinas %}
                      <li>
                         {{ disciplina.nome }}
                        <a href="{% url 'alterardisciplina' disciplina.iddisciplina %}">ALTERAR</a>
                        <a href="{% url 'deletardisciplina' disciplina.iddisciplina %}" onclick="return confirm('Tem certeza que deseja excluir?')">REMOVER</a>                     
                        <a href="{% url 'inserirdisciplinaofertada' disciplina.iddisciplina %}" )>OFERTAR</a>                     
    
                    </li>
                     
                      {% endfor %}
                  </ul>
                </div>

            </div>
        </main>
{% endblock %}