{% extends "base.html" %}
{% block content %}
        <main>
            <div>
                <div>
                    <h1 class="tituloCrud">Adicionar Novo Curso</h1>
                </div>
                <div>
                        <a href="{% url "inserircurso" %}">INSERIR</a>
                </div>
                <div>
                  <table>
                    <tr>
                          <td>CURSOS</td>
                      </tr>
                  </table>
                  <ul>
                      {% for curso in cursos %}
                      <li>
                         {{ curso.nome }}
                         <a href="{% url 'alterarcurso' curso.idcurso %}">ALTERAR</a>
                         <a href="{% url 'deletarcurso' curso.idcurso %}">REMOVER</a>                      </li>

                        </li>
                      {% endfor %}
                  </ul>
                </div>

            </div>
        </main>
{% endblock %}