{% extends "base.html" %}
{% block content %}
        <main>
            <div>
                <div>
                    <h1 class="tituloCrud">LISTA DE ALUNOS</h1>
                </div>
                <div>
                        <a href="{% url "inseriraluno" %}">INSERIR NOVO ALUNO</a>
                </div>
                <div>
                  <table>
                    <tr>
                          <td>ALUNOS</td>
                      </tr>
                  </table>
                  <ul>
                      {% for aluno in alunos %}
                      <li>
                         {{ aluno.nome }}
                         <a href="{% url 'alteraraluno' aluno.idaluno %}">ALTERAR</a>
                         <a href="{% url 'deletaraluno' aluno.idaluno %}">REMOVER</a>                      </li>
                      </li>
                      {% endfor %}
                  </ul>
                </div>

            </div>
        </main>
{% endblock %}
