{% extends "base.html" %}
{% block content %}
        <main>
            <div>
                <div>
                    <h1 class="tituloCrud">LISTA DE COORDENADORES</h1>
                </div>
                <div>
                        <a href="{% url "inserircoordenador" %}">INSERIR NOVO COORDENADOR</a>
                </div>
                <div>
                  <table>
                    <tr>
                          <td>COORDENADORES</td>
                      </tr>
                  </table>
                  <ul>
                      {% for coordenador in coordenadores %}
                      <li>
                         {{ coordenador.nome }}
                         <a href="{% url 'alterarcoordenador' coordenador.idcoordenador %}">ALTERAR</a>
                         <a href="{% url 'deletarcoordenador' coordenador.idcoordenador %}" onclick="return confirm('Tem certeza que deseja excluir?')">REMOVER</a>                      </li>
                      </li>
                      {% endfor %}
                  </ul>
                </div>

            </div>
        </main>
{% endblock %}