{% extends "baseforms.html" %}
{% block content %}
{% load %}
		<main>
            <div class="containers" id="novoaluno">
                <form id="formulario" autocomplete="off" method="POST" action="" enctype="multipart/form-data">
                    {% if atividade.idatividadevinculada %}
                    <h1>ALTERAR ATIVIDADE VINCULADA</h1>
                    {% else %}
                    <h1>ADICIONAR ENTREGA</h1>
                    {% endif %}
                            
                    <fieldset>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                PROFESSOR: <select name = 'professor'>
                                <option >SELECIONE</option>
                                {% for professor in professores %}
                                <option value ='{{professor.idprofessor}}'>{{ professor.nome }} </option>
                                {% endfor %}
                            </label></br>
                        </select>                               
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                ATIVIDADE: <select name = 'atividade'>
                                <option >SELECIONE</option>
                                {% for atividade in atividades %}
                                <option value ='{{atividade.idatividade}}'>{{ atividade.titulo }} </option>
                                {% endfor %}
                            </label></br>
                        </select>                               
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                DISCIPLINA: <select name = 'disciplina'>
                                <option >SELECIONE</option>
                                {% for disciplina in disciplinas %}
                                <option value ='{{disciplina.iddisciplina}}'>{{ disciplina.nome }} </option>
                                {% endfor %}
                            </label></br>
                        </select>                               
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                <strong class="strongLabelForm">RÓTULO</strong>
                                <input class="inputForm" type="text" name="rotulo" value = "{{ atividadevinculada.rotulo }}">
                            </label>
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                <strong class="strongLabelForm">ESTADO</strong>
                                <input class="inputForm" type="text" name="estado" value = "{{ atividadevinculada.estado }}">
                            </label>
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                <strong class="strongLabelForm">DATA INICIO RESPOSTAS</strong>
                                <input class="inputForm" type="date" name="estado" value = "{{ atividadevinculada.dtiniciorespostas }}">
                            </label>
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                <strong class="strongLabelForm">DATA FIM RESPOSTAS</strong>
                                <input class="inputForm" type="date" name="estado" value = "{{ atividadevinculada.dtfimrespostas }}">
                            </label>
                        </div>
                       
                        <div id="divSubmitAluno">
                            <input type="submit" class="btn" value="SALVAR">
                        </div>
                    </fieldset>
                </form>
            </div>
		</main>
{% endblock %}
