{% extends "baseforms.html" %}
{% block content %}
{% load %}
		<main>
            <div class="containers" id="novoaluno">
                <form id="formulario" autocomplete="off" method="POST" action="" enctype="multipart/form-data">
                    {% if atividade.idatividadevinculada %}
                    <h1>ALTERAR ATIVIDADE VINCULADA</h1>
                    {% else %}
                    <h1>ADICIONAR ATIVIDADE VINCULADA</h1>
                    {% endif %}
                            
                    <fieldset>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                PROFESSOR: <select name = 'professor'>
                                {% if professor.idprofessor %}
                                <option value ='{{professor.idprofessor}}'>{{ professor.nome }} </option>
                                 {% else %}
                                 <option >SELECIONE</option>
                                {% for professor in professores %}
                                <option value ='{{professor.idprofessor}}'>{{ professor.nome }} </option>
                                {% endfor %}
                                {% endif %}
                            </label></br>
                        </select>                               
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                <strong class="strongLabelForm">ATIVIDADE</strong>
                                <input class="inputForm" type="text" value = "{{ atividade.titulo }}" readonly = "readonly">
                            </label>
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                DISCIPLINA: <select name = 'disciplina'>
                                <option >SELECIONE</option>
                                {% for do in disciplinasofertadas %}
                                <option value ='{{do.iddisciplina.iddisciplina}}'>{{ do.iddisciplina.nome }} EM {{do.idcurso.nome}} </option>
                                {% endfor %}
                            </label></br>
                        </select>                               
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                <strong class="strongLabelForm">RÓTULO</strong>
                                <input class="inputForm" type="text" name="rotulo" value = "{{ atividadevinculada.rotulo }}">
                            </label>
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                STATUS: <select name = 'estado'>
                                <option >SELECIONE</option>
                                <option value ='Disponibilizada'{% if di>Disponibilizada</option>
                                <option value ='Aberta'>Aberta</option>
                                <option value ='Fechada'>Fechada</option>
                                <option value ='Encerrada'>Encerrada</option>
                                <option value ='Prorrogada'>Prorrogada</option>
                            </label></br>
                        </select>                               
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                <strong class="strongLabelForm">DATA INICIO RESPOSTAS</strong>
                                <input class="inputForm" type="date" name="dtiniciorespostas" value = "{{ atividadevinculada.dtiniciorespostas }}">
                            </label>
                        </div>
                        <div class="containerInputForm">
                            <label class="labelForm">
                                <strong class="strongLabelForm">DATA FIM RESPOSTAS</strong>
                                <input class="inputForm" type="date" name="dtfimrespostas" value = "{{ atividadevinculada.dtfimrespostas }}">
                            </label>
                        </div>
                       
                        <div id="divSubmitAluno">
                            <input type="submit" class="btn" value="SALVAR">
                        </div>
                    </fieldset>
                </form>
            </div>
		</main>
{% endblock %}
